img, ul, li, a {
  width: 100%;
}

ul {
  padding: 0;
}

li {
  margin-top: 64px;
  list-style: none;
}

a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #333;
  text-decoration: none;
}

img {
  transition: 0.3s;
}

img:hover{
  opacity: 0.6;
}

.container {
  width: 90%;
  max-width: 700px;
  margin: 80px auto;
}

.aLink {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  border-bottom: #333 solid 1px;
  margin-bottom: 16px;
}

.aText {
  display: inline-block;
}

@media screen and (max-width : 520px) {
  .aLink {
    font-size: 18px;
    margin-bottom: 8px;
  }
  a {
    font-size: 12px;
  }
}