body {
  margin: 0;
}
img, ul, li, a {
  width: 100%;
}

h1, h2, p {
  margin: 0;
  color: #333;
}

h1{
  font-size: 64px;
  font-weight: 600;
  @media screen and (max-width:720px){
    font-size: 40px;
  }
}

h2 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  @media screen and (max-width:720px){
    font-size: 24px;
  }
}

p {
  font-size: 16px;
  line-height: 32px;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 920px;
  margin: 0 auto;
}

.fw-600 {
  font-weight: 600;
}

// ---------------------
// header
// ---------------------
header{
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 10;
  background-color: rgba($color: #fff, $alpha: 0.7);
  .header-contents {
    width: 90%;
    max-width: 1200px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 4px auto;
    .home {
      display: inline-block;
      width: 40px;
      height: 40px;
      transition: 0.3s;
      span {
        width: 100%;
        height: 100%;
        display: inline-block;
      }
      svg {
        width: 100%;
        height: 100%;
      }
      &:hover {
        opacity: 0.5;
      }
    }
    .works-link {
      border: 2px solid #333;
      border-radius: 6px;
      width: 140px;
      height: 42px;
      margin-left: 24px;
      transition: 0.3s;
      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        line-height: 42px;
        text-align: center;
        font-weight: 600;
      }
      &:hover {
        background-color: #333;
        a {
          color: #fff;
        }
      }
    }
  }
}

// ---------------------
// index.html
// ---------------------
.mv {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &::after{
    content: "scroll";
    position: absolute;
    bottom: 64px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
  }
  &::before{
    content: "";
    position: absolute;
    width: 32px;
    height: 1px;
    background-color: #333;
    bottom: 48px;
    left: 50%;
    animation-name: scroll-bar;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
  }
  @keyframes scroll-bar{
    0% {
      transform: translateX(-50%) translateY(0px) rotate(90deg);
      width: 32px;
    }
    80% {
      transform: translateX(-50%) translateY(16px) rotate(90deg);
      width: 0px;
    }
    100% {
      transform: translateX(-50%) translateY(16px) rotate(90deg);
      width: 0px;
    }
  }
}

.about {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  .about-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    @media screen and (max-width:720px){
      flex-wrap: wrap;
    }
    img {
      width: 20%;
      border-radius: 50%;
      @media screen and (max-width:720px){
        width: 40%;
        margin-bottom: 10px;
      }
    }
    p {
      width: 58%;
      margin-left: 32px;
      @media screen and (max-width:720px){
        width: 100%;
      }
    }
  }
}

// ---------------------
// works.html
// ---------------------

#works {
  padding-top: 80px;
  @media screen and (max-width:720px){
    padding-top: 100px;
  }
  h2 {
    font-size: 36px;
    @media screen and (max-width:720px){
      font-size: 24px;
    }
  }
  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 52px;
    flex-wrap: wrap;
    @media screen and (max-width:720px){
      margin-top: 24px;
    }
    li {
      width: 45%;
      margin: 0;
      list-style: none;
      transition: 0.3s;
      &:nth-child(n+3){
        margin-top: 40px;
      }
      @media screen and (max-width:720px){
        width: 100%;
        &:nth-child(n+2){
          margin-top: 40px;
        }
      }
      img {
        transition: 0.3s;
      }
      &:hover {
        img {
          opacity: 0.5;
        }
        .view-more::after{
          animation-name: more-bar;
          animation-duration: 0.3s;
          animation-fill-mode: forwards;
        }
        @keyframes more-bar {
          from {
            width: 0px;
          }
          to {
            width: 100%;
          }
        }
      }
    }
    .view-more-wrap {
      width: 100%;
      display: inline-block;
      text-align: right;
      .view-more {
        display: inline-block;
        font-weight: 600;
        margin-right: 4px;
        position: relative;
        &::after {
          content: "";
          width: 0px;
          height: 1px;
          position: absolute;
          bottom: 0px;
          left: 0px;
          background-color: #333;
        }
      }
    }
  }
  a {
    display: flex;
    flex-wrap: wrap;
  }
  .a-link {
    margin-top: 4px;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
  }
  .a-text {
    display: inline-block;
    font-size: 16px;
  }
  
  .ttl {
    width: 100%;
    text-align: center;
  }
  
  @media screen and (max-width : 720px) {
    .a-link {
      font-size: 16px;
      margin-bottom: 2px;
    }
    a {
      font-size: 10px;
    }
  }
}